{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	About Us
{% endblock %}

{% block body_block %}

<button class="btn btn-primary" id="about-btn">
	Click Me - I'm JavaScript on Speed</button>
<p>This is a example</p>
<p>This is another example</p>

<div>
	<h1>Thank you for using PetHub!</h1>
	<h3>This website was put together by:</h3>
</br>
<ul> 
	<strong>
		<li>Scott Wilson</li>
		<li>Peter Macaldowie</li>
		<li>Lucy Conaghan</li>
		<li>Emma Hunter</li>
	</strong>
</ul>
</div>
{% endblock %}

