{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	About Us
{% endblock %}

{% block body_block %}

<div>
	<h1>Thank you for using PetHub!</h1>
	<h3>This website was put together by:</h3>
</br>
<ul> 
	<strong>
		<li class="name">Scott Wilson</li>
		<li class="name">Peter Macaldowie</li>
		<li class="name">Lucy Conaghan</li>
		<li class="name">Emma Hunter</li>
	</strong>
</ul>
</br>
<p id="about_descr"> We are all Computing students of the University of Glasgow, and PetHub was a group project for our Web Application Development course. We hope you enjoy using it!</p>
</div>
{% endblock %}

