{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Add a comment
{% endblock %}

{% block body_block %}



<div id="add_comment_box">
	{% if uploaded %}
	<strong>Your comment has been added. Return to the main page here:</strong>
</br>
<a href="{% url 'index' %}">Home</a>
	{% else %}
<div >
	<br />
	<strong>Add a Comment!</strong>
	<form id="add_comment_form" method="post" action="{% url 'add_comment' %}"
					enctype="multipart/form-data">

				{% csrf_token %}

		<!-- Display forms -->
				{{ comment_form.as_p }}

		<!-- button to submit form -->
		<input type="submit" name="submit" value="Upload" />
	</form>
</div>
	{% endif %}
</div>
{% endblock %}
