{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Extra Information
{% endblock %}

{% block body_block %}
<h1>This is the information page.</h1>
<div>
	<p>Making sure your pet is getting the right care is of utmost importance to most owners. Here, we've put together a few resources to help you do just that:</p>
	<ul>
		<li>
			<a href="https://www.scottishspca.org/">SSPCA</a>
		</li>
		<li>
			<a href="https://www.dogstrust.org.uk/">DogsTrust</a>
		</li>
		<li>
			<a href="https://www.bluecross.org.uk/">Blue Cross</a>
		</li>
		<li>
			<a href="https://www.pdsa.org.uk/">PDSA</a>
		</li>
		<li>
			<a href="https://www.battersea.org.uk/">Battersea Cats and Dogs Home</a>
		</li>

	</ul>
</div>



{% endblock %}