{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Extra Information
{% endblock %}

{% block body_block %}
<h1>Extra Information</h1>
<div class="extra_info">
	<h2>Pet Care</h2>
	<p>Making sure your pet is getting the right care is of utmost importance to most owners. Here, we've put together a few resources to help you do just that:</p>
	<ul>
		<li>
			<a href="https://www.rspca.org.uk/adviceandwelfare/pets/dogs">Advice on Caring For Dogs</a>
		</li>
		<li>
			<a href="https://www.bluecross.org.uk/pet-advice/caring-your-adult-cat">Advice on Caring for Cats</a>
		</li>
		<li>
			<a href="http://www.petsathome.com/shop/en/pets/pet-talk/pet-care-small-animal-guinea-pig">Advice on Caring For Guinea Pigs</a>
		</li>
		<li>
			<a href="https://www.petmd.com/fish/care/evr_fi_how-to-care-of-fish">Advice on Caring for Fish</a>
		</li>
		<li>
			<a href="https://www.rspca.org.uk/adviceandwelfare/pets/other">Advice for Caring for Exotic Pets</a>
		</li>
	</ul>
</div>

<div class="extra_info">
	<h2>Charities</h2>
	<p>Here you can find just some of the charities that do important work for pets and wild animals around the world:</p>
	<ul>
		<li>
			<a href="https://www.scottishspca.org/">SSPCA</a>
		</li>
		<li>
			<a href="https://www.dogstrust.org.uk/">DogsTrust</a>
		</li>
		<li>
			<a href="https://www.bluecross.org.uk/">Blue Cross</a>
		</li>
		<li>
			<a href="https://www.pdsa.org.uk/">PDSA</a>
		</li>
		<li>
			<a href="https://www.battersea.org.uk/">Battersea Cats and Dogs Home</a>
		</li>
	</ul>
</div>

<div class="extra_info">
	<h2>Miscellaneous</h2>
	<p>Other resources can be found here:</p>
	<ul>
		<li>
			<a href="https://www.pet-supermarket.co.uk">Buy Pet Supplies</a>
		</li>
		<li>
			<a href="https://www.pdsa.org.uk/taking-care-of-your-pet/choosing-a-pet">Which Pet Should I Get?</a>
		</li>
		<li>
			<a href="https://www.pexels.com/search/kitten/">Endless Kitten Pictures</a>
		</li>
	</ul>
</div>



{% endblock %}	