{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
{% if user.first_name %}
<h1>Welcome to PetHub, {{ user.first_name }}!</h1>
{% else %}
<h1>Welcome to PetHub, {{ user.username }}!</h1>
{% endif %}
{% if user_list %}
	{% for person in user_list %}
		<a href="{% url 'user_profile' %}{{ person.username }}">{{person.username}}'s Profile</a><br />
	{% endfor %}
	{% for post in post_list %}
		
			<div class="post_container">
				<h3>{{post.title}}</h3><br />
				{% if post.picture %}
					<img width="auto" height="200px" src="{{ MEDIA_URL }}{{post.picture}}">
				{% endif %}
				
				<p>{{post.description}} - posted by <a href="{% url 'user_profile' %}{{ post.user.username }}">{{post.user.username}}</a> at {{post.upload_date}}</p><br />
			</div>
	{% endfor %}
{% endif %}



{% endblock %}
