{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Post Upload	
{% endblock %}

{% block body_block %}
<!--------------------------------------------------------------------------------------
	{% if registered or user.is_authenticated %}
		<script>window.location = "/pethub/";</script>
	{% endif %}
	---------------------------------------------------------------------------------------->
<div id="post_upload_container">

	<div id="post_upload_box">
		<br />
		<strong>Upload a Post Here!</strong>
		<form id="post_upload_form" method="post" action="{% url 'post-upload' %}"
			enctype="multipart/form-data">

		{% csrf_token %}

			<!-- Display forms -->
		{{ post_form.as_p }}

			<!-- button to submit form -->
			<input type="submit" name="submit" value="Upload" />
		</form>
	</div>
</div>
</div>
{% endblock %}