{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	Change Profile
{% endblock %}

{% block body_block %}


<!--------------------------------------------------------------------------------------
	{% if registered or user.is_authenticated %}
		<script>window.location = "/pethub/";</script>
	{% endif %}
	---------------------------------------------------------------------------------------->
<div id="update_user_box_container">

	<div id="update_user_box" class="LoginPageBoxes">
		<strong>Update your profile</strong>
		<form id="update_user_form" method="post" action="{% url 'update-user' %}"
			enctype="multipart/form-data">

		{% csrf_token %}

			<!-- Display forms -->
		{{ update_user_form.as_p }}
		{{ update_user_profile_form.as_p }}

			<!-- button to submit form -->
			<input type="submit" name="submit" value="Update" />
		</form>
	</div>
</div>
{% endblock %}