{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	User - {{user.username}}
{% endblock %}

{% block body_block %}
<div id="mainBody">
	<div id="user_info">
		<div id="photoFrame">
			<!-- check user is currently the one logged in -->
			{% if user.userprofile.userPicture %}
			<img width="200" height="200" src="{{ MEDIA_URL }}{{userProfile.userPicture}}" alt="{{user.username}}'s profile picture"/>
			{% else %}
			<img width="200" height="200" src="{% static 'images/user_profile/NoImageAvailable.png' %}" alt="{{user.username}}'s profile picture"/>
			{% endif %}
		</div>
		<div id="infoFrame">
			{% if user.first_name and user.last_name %}
				<h2>{{user.first_name}} {{user.last_name}}</h2>
			{% else %}
				<h2>{{user.username}}</h2>
			{% endif %}

			<p>{{userProfile.bio}}</p>

			{% if user == request.user %}
			<div>
				<form action="{% url 'update-user' %}">
					<input type="submit" value="Update Profile" class="equidistant"/>
				</form>
				<a  id="user_deletion_button" class="button_link" href="{% url 'confirm_user_deletion' user.id %}">Delete User</a>
			</div>
			{% endif %}
		
		</div>
	</div>
	{% if user.first_name and user.last_name %}
		<h2>Historic posts by {{user.first_name}} {{user.last_name}}:</h2>
	{% else %}
		<h2>Historic posts by {{user.username}}:</h2>
	{% endif %}
	
</div>
{% endblock %}