{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	User - {{user.username}}
{% endblock %}

{% block body_block %}
<div id="mainBody">
	<div id="photoFrame">

		<img width="200" height="200" src="{{ MEDIA_URL }}{{userProfile.userPicture}}" alt="{{user.username}}'s profile picture"/>

	</div>
	<div id="infoFrame">

		<h2 class="textInfo">{{user.first_name}} {{user.last_name}}</h2>
		<br />
		<p class="textInfo" >{{userProfile.bio}}</p><br />
		<a href="{% url 'post-upload'%}" >Upload a Post</a>
	</div>
</div>




{% endblock %}