{% extends "pethub/base.html" %}
{% load staticfiles %}

{% block title_block %}
	User - {{user.username}}
{% endblock %}

{% block body_block %}
<div id="mainBody">
	<div id="photoFrame">
		<!-- check user is currently the one logged in -->
		{% if user == request.user %}
		<img width="200" height="200" src="{{ MEDIA_URL }}{{userProfile.userPicture}}" alt="{{user.username}}'s profile picture"/>
		{% else %}
		<img width="200" height="200" src="{% static 'images/user_profile/NoImageAvailable.png' %}" alt="{{user.username}}'s profile picture"/>
		{% endif %}
	</div>
	<div id="infoFrame">

		<h2>{{user.first_name}} {{user.last_name}}</h2>
		
		<p>{{userProfile.bio}}</p>
		
		{% if user == request.user %}
			<form action="{% url 'update-user' %}">
				<input type="submit" value="Update Profile" />
			</form>
		{% endif %}

	</div>
</div>




{% endblock %}