/*Implementations on base.html */

body {
    background-color: #FFB6C1;
}

#navbar {
	background-color: #FF69B4;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 2px;
}
/*For descriptions on different pages - ensures consistency*/
.PageDescriptor {
	text-align: center;
	font-family: Verdana;
}

#navbar h2 {
	text-align: center;
	font-family: Verdana;
	margin: 0;
}

/*#navbar img {
	float: left;
	clear: left;
}*/


#navbarLinks {
  display: flex;
  justify-content: space-between;  
}

#navbarLinks div {
	margin: 0 auto;

}

.main {
    margin-top: 120px; /* Add a top margin to avoid content overlay */
}

a {
	font-family: Verdana;
	font-size: 20;
	text-decoration: none;
}

#bottomBarContainer {
display: flex;
  justify-content: space-between;  
  align: center;
  vertical-align: bottom;
}

#bottomBarContainer div{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

/*Implementations on species.html*/
#speciesContainer {
  display: flex;
  justify-content: space-between;  
  align: center;
}

#speciesContainer div {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

#speciesContainer img {
	width: 200px;
	height: 200px;

	border-style: solid;
	border-width: 5px;
}

/*for login/register page*/
.LoginPageBoxes {
	min-height: 400px;
	background-color: #b0e0e6;
	justify-content: space-between;
	content-align: center;
	line-height: 50px;
	text-align: center;
	font-family: Verdana;
	margin:0 auto;
	border-style: solid;
	border-width: 5px;
	width: 40%;
}

.LoginPageBoxes input {
	width : 70%;
	font-family: Verdana;
	font-size: 22;
	font-weight: bold;
	text-align: center;
}

#login_box_container {
	display: flex;
	margin: 0 auto;
	max-width: 80%;
	justify-content: space-between;
	align: center;
}