/*Implementations on base.html */

body {
    background-color: #FFB6C1;
}

#navbar {
	background-color: #FF69B4;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-style: solid;
	border-width: 2px;
}
/*For descriptions on different pages - ensures consistency*/
.PageDescriptor {
	text-align: center;
	font-family: Verdana;
}

#navbar h2 {
	text-align: center;
	font-family: Verdana;
	margin: 0;
}

/*#navbar img {
	float: left;
	clear: left;
}*/


#navbarLinks {
  display: flex;
  justify-content: space-between;  
}

#navbarLinks div {
	margin: 0 auto;
}

.main {
    margin-top: 120px; /* Add a top margin to avoid content overlay */

}

a {
	font-family: Verdana;
	font-size: 20;
	text-decoration: none;
}

#bottomBarContainer {
	display: flex;
	justify-content: space-between; 
	
	clear: both;
}

#bottomBarContainer div{
	display: inline-block;
	margin: 0 auto;
	
}

/*Implementations on species.html*/
#speciesContainer {
  display: flex;
  justify-content: space-between;  
}

#speciesContainer div {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

#speciesContainer img {
	width: 200px;
	height: 200px;

	border-style: solid;
	border-width: 5px;
}

/*for login/register page*/
.LoginPageBoxes {
	min-height: 400px;
	background-color: #b0e0e6;
	justify-content: space-between;
	line-height: 50px;
	text-align: center;
	font-family: Verdana;
	margin:0 auto;
	border-style: solid;
	border-width: 5px;
	width: 40%;
}

.LoginPageBoxes input {
	width : 70%;
	font-family: Verdana;
	font-size: 22;
	font-weight: bold;
	text-align: center;
}

#login_box_container {
	display: flex;
	margin: 0 auto;
	max-width: 80%;
	justify-content: space-between;
}

/* Styles for user profiles */
#photoFrame {
	border-style: solid;
	border-width: 3px;
	border-color: purple;
	float: left;
}

#photoFrame img {
	width: 200px;
	height: 200px;
	
}

#infoFrame {
	border-style: solid;
	border-width: 3px;
	border-color: purple;
	width: 60%;
	margin: 0 auto;
	padding: 20px;
}


/* for feed pages */
.post_container {
	width: 70%;
	border-style: solid;
	border-width: 2px;
	border-color: purple;
	margin: 0 auto;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.post_title h3{
	
}

.post_image img {
	border-style: solid;
	border-width: 2px;
	border-color: purple;
}

.post_description {
	
}

.post_tags {
	
}

.post_likes {
	
}


/* for post-upload page */
#post_upload_box {
	min-height: 400px;
	background-color: #b0e0e6;
	justify-content: space-between;
	line-height: 20px;
	text-align: center;
	font-family: Verdana;
	margin:0 auto;
	border-style: solid;
	border-width: 5px;
	width: 60%;
}




.image_icon{
	
}